* {
font-family: 'Poppins', sans-serif;
}

body {
    background-image:url(https://cdn.pixabay.com/photo/2017/07/31/11/31/laptop-2557468_1280.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card {
background-color: #122340CC;
}

.form-container {
padding-left: 50px;
padding-right: 50px;
padding-bottom: 50px;
}