<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<h1>Modifica tu consulta</h1>
<form th:object="${consultation}" method="post">
    <div class="form-floating mb-3">
        <label>Hora de creacion:</label><br>
        <label for="name">Nombre</label>
        <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Nombre">
    </div>
    <div class="form-floating mb-3">
        <label for="stack">Apellidos</label>
        <input th:field="*{stack}" type="text" class="form-control" placeholder="Apellidos" id="stack">
    </div>
    <div class="form-floating mb-3">
        <label for="title">Titulo</label>
        <input th:field="*{title}" type="text" class="form-control" placeholder="Pon un titulo a tu consulta"
               id="title">
    </div>
    <div class="form-floating mb-3">
        <label for="description">Descripcion</label>
        <textarea th:field="*{description}" class="form-control" placeholder="Describe tu consulta" id="description"
                  style="height: 100px"/>
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>
</body>
</html>