<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

<form th:fragment="form" th:object="${consultation}" th:action="@{/form}"
method="post">

    <div class="form-floating mb-3">
        <label>Hora de creacion:</label><br>
        <label for="name">Nombre</label>
        <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Nombre" >
    </div>
    <div class="form-floating mb-3">
        <label for="surname">Apellidos</label>
        <input th:field="*{surname}" type="text" class="form-control" placeholder="Apellidos" id="surname" >
    </div>
    <div class="form-floating mb-3">
        <label for="title">Titulo</label>
        <input th:field="*{title}" type="text" class="form-control" placeholder="Pon un titulo a tu consulta" id="title" >
    </div>
    <div class="form-floating mb-3">
        <label for="description">Descripcion</label>
        <textarea th:field="*{description}"class="form-control" placeholder="Describe tu consulta" id="description" style="height: 100px" />
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
    <a type="button" class="btn btn-secondary" th:href="@{/}">Volver al menu principal</a>
    <a type="button"  class="btn btn-success" th:href="@{/form}">Limpiar</a>

</form>

</body>
</html>